html{ 
    padding-bottom: 25px;
}

:root {
    --primary: #ff00ae; 
    --primary2: #d40292; 
    --back: black;
    --front: white;
 }
 
::selection {
    color: var(--front);
    background: var(--primary2); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    color: var(--front);
    background: var(--primary2); /* Gecko Browsers */
  }

body {
    background-color: var(--back);
    margin: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

header>ul>li>a{
    color: var(--primary);
}

hr{
    margin-left: -5vw;
    margin-right: -5vw;
    height: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 1px solid var(--front);
}

.block {
    width: min(42%, 550px);
    margin-bottom: 3%;
    padding: 24px;
    border: 1px solid var(--front);
    background: var(--back);
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:start;
    gap: 3%;
}
.home>.block>h2{
    margin-top: 0em;
    margin-bottom: 0.5em;
}
.home>.block>ul{
    margin-left: 35px;
    margin-top:0;
}
.home>.block>ul>li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.home>.block>h3{
    font-size: 22px;
    margin-bottom: 0.5em ;
    margin-top: 0.5em ;
}

.bulk {
    max-width: 55em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

.essay>p{
    text-indent: 40px;
}

.poem>p{
    margin-bottom: 2em ;
}
.poem>p>br{
    margin-top: 0.4em;
}

.music>h3{
    margin-bottom: 0;
}
.music>p{
    margin-top: 0.5em ;
}
.music>figure{
    margin-left:0;
    margin-bottom: 0.5em;
}

* {
    color: var(--front);
    font-family: 'Roboto Mono', monospace;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 1em; /* change this to whatever height you want it */
}

.page-title{
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.page-title>h2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.page-title>h5{
    margin-top: 8px;
    margin-bottom: 8px;    
}

p {
    margin-top: 1em ;
    margin-bottom: 1em ;
  }

.quote>p {
    margin-left: 40px;
  }

h1 { /* website title */
    font-size: 50px;
    margin: 0;
    color: var(--primary);
}

h2, h2>i { /* title */
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--primary);
}

h3 { /* heading */
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 36px;
    color: var(--front);
}

h4 { /* subheading */
    font-size: 16px;
    color: var(--primary);
}

h5 { /* subtitle */
    font-size: 20px;
    color: var(--front);
}

sup>a{
    color:var(--primary);
    text-decoration: none;
}

a, a>i {
    transition: color 0.3s, text-shadow 0.3s ease-out; 
}
a:hover, a:hover>i {
    color: var(--primary);
    text-shadow: 0 0 1em var(--primary);
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
li {
    display: list-item; 
    margin: 0.5em 0em;  
}

header>ul{
    margin-top:45px;
    padding: 0;
}
header>ul>li{
    display: inline;
    padding-right: 3px;
}
ol>li{
    margin-bottom:1em;
}


dt {
    margin-top: 20px;
}
dd {
    margin-top: 10px;
}

nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top:35px;
    margin-bottom:35px;
}

.nav-title {
    min-width: 50px;
    flex-grow: 8;
}

.nav-links {
    text-align: right;
    padding-top: 11px;
    min-width: 200px;
}
.nav-links li{
    display: inline-block;
    margin: 0 2px;
}

.current-page {
    color: var(--primary);
    font-weight: bold;
}

.clear {
    clear: both;
}

header {
    box-sizing: border-box;
}
footer {
    margin-top: 40px;
    box-sizing: border-box;
}
footer>p>br{
    margin-top:0
}

details > summary{
    list-style-type: none;
    font-weight: bold;
}
details > summary:hover{
    color: var(--primary);
    cursor:pointer;
}
details > summary::before {
    content: "+ ";
  }
details[open] > summary::before {
    content: "− ";
  }
.music > details{
    margin-left:20px;
}
details[open] > .poem {
    padding-left: 15px;
    margin-left: 4px;
    border-left: 1px solid var(--front);
}

.mla>p, .mla>ul {
    text-indent: -40px;
    margin-left: 40px; 
    max-width: calc(100% - 2em);
}
.mla>ul>li {
    margin-top: 1em ;
    margin-bottom: 1em ;
    overflow-wrap: break-word;
}

.ref{
    text-decoration-line: none;
    color: var(--primary);
}

@media (max-width: 1100px){
    nav {
        display: grid;
        align-items: start;
    }
    
    .nav-links {
        padding-top: 11px;
        text-align: left;
    }
  }

@media screen and (max-width: 481px){
    .home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .block {
        width:86%;
        align-self: center;
    }
  }

/* Works on Firefox */
* {
    scrollbar-color: var(--front) var(--back);
  }
  
/* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1vw;
  }
  *::-webkit-scrollbar-track {
    background: var(--back);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--front);
  }