body {
    background-color: #000000;
    max-width: 1400px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.bulk {
    max-width: 55em;
    margin: auto;
}

* {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}

p {
    margin-top: 1em ;
    margin-bottom: 2em ;
  }

h1, h2, h4 {
    color: #cc2196;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    margin-bottom: 1em ;
}

a {
    font-size: 16px;
}

a:hover {
    color: #cc2196;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-top: 35px;
    padding: 0;
}

dt {
    margin-top: 20px;
}
dd {
    margin-top: 10px;
}

li {
    display: inline;
    padding-right: 3px;
}

nav {
    text-align: left;
    padding-top: 10px;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0.4em; /* change this to whatever height you want it */
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

header {
    box-sizing: border-box;
}
footer {
    margin-top: 40px;
    box-sizing: border-box;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}